div.cmMainDiv{
    /* margin: 5%; */
    padding: 2.5%;
    /* size: 80%; */
    min-height: 700px;
    min-width: 770px;
    
}
div.cmTitle{
    font-size: 17px;
    font-weight:bold;
    margin-top: 4%;
}
div a.cmSubTitle{
    text-decoration: underline;
   
}
div a.cmSubTitle:hover{
    cursor: pointer;
    color: black;
}
div.cmsubFont{
color:#6B8086;
margin-bottom: 2%;
margin-left: 35px;

}
div.cmsubFont2{
    color:#6B8086;
    margin-bottom: 2%;
    margin-left: 35px;
    
    }
    div.cmsubFont2:hover{
        cursor: pointer;
        text-decoration: underline;
        color: #6b778c;
        }
div.cmAddDesc{
    min-width:500px;
    border:none;
    padding: 2%;
    padding-top: 1%;
    margin-left: 35px;
    min-height: 60px;
    border-radius: 2%;
    background: #ebeef0;
}
div.cmAddDesc:hover{
background: #e0e2e4;
}
div.cmSubDiv1{
    float: left;
}
div.cmSubDiv2{
    float: right;
    margin-top: 3%;
    margin-left: 32px;
}
div.cmbTitle{
    color:#6B8086;
    margin-top: 10%;
    margin-bottom: -5%
}
div.cmbtn{
    background-color: #ebeef0;
    box-shadow: 0 1px 0 0 rgba(9,45,66,.13);
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 700;
    height: 32px;
    width: 150px;
    margin-top: 8px;
    max-width: 300px;
    overflow: hidden;
    padding: 4px 8px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    transition-property: background-color,border-color,box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;

}
div.cmbtn:hover{
    background: #e0e2e4;
}
div .cmbtn1{
    background-color:  #e7604e ;
    box-shadow: 0 1px 0 0 rgba(9,45,66,.13);
    border: none;
    border-radius: 3px;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    font-weight: 700;
    height: 32px;
    width: 150px;
    margin-top: 8px;
    color: #e0e2e4;
    max-width: 300px;
    overflow: hidden;
    padding: 6px 8px;
    position: relative;
    text-decoration: none;
    text-overflow: ellipsis;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: nowrap;
    transition-property: background-color,border-color,box-shadow;
    transition-duration: 85ms;
    transition-timing-function: ease;
}
div.cmbtn1:hover{
    background: #d33934 ;
}
div.cmCommTitle{
    margin-left: 35px;
    font-weight: bold;
}
div.cmSubcomm{
    
    margin-left: 35px;
}
div.cmSubdel{
    
    margin-bottom: 2.5%;
    margin-left: 35px;
    font-size: 13px;
    color:#6b778c;
    text-decoration: underline;

}
div.cmSubdel:hover{
    color:#172b4d;
    cursor: pointer;
}
div.commentMain{
    border-bottom: #6b778c
}
div.calender{
   
    padding: 2%;
    margin: 2%;
    border: #6b778c;
    
}
div.datelabel{
    padding: 2%;
    margin: 2% 2% -5%;
    color: black;
    font-weight: bold;
    font-size: 15px;
    float:top ;
    width: 50%
}
div.rem{
    margin-left: 4%;
    margin-bottom: -3%;
    color: black;
    font-weight: bold;
    font-size: 15px;
    float:top ;
    width: 50%
}
div.timelabel{
    padding: 2%;
    margin: 2% 2% -5%;
    width: 50%;
    color: black;
    font-weight: bold;
    font-size: 15px;
    float:top
}
.column {
    float: left;
    width: 40%;
   margin-left: 6%;
   margin-bottom: -5%;
  }
.row:after {
    display: table;
    clear: both;
    margin: 5%
  }
input.datein{
    width: 30%
}
div.reText{
    color:#6b778c;
    margin-left: 4%;
    font-size: 14px; 
}
button.dtndueDate{
    background-color: #5aac44;
    box-shadow: 0 1px 0 0 #3f6f21;
    color: #fff
}
div.teamin:hover{
    text-decoration: underline;
    cursor: pointer;
}