div.cmMainDiv{
    margin: 5%;
    size: 80%;
    min-height: 600px;
    min-width: 700px;
   
}
div.cmTitle{
    font-size: 20px;
    font-weight:110;
}
div a.cmSubTitle{
    text-decoration: underline;
}
div a.cmSubTitle:hover{
    cursor: pointer;
    color: black;
}
div.cmsubFont{
color:#6B8086;
}