div.cmMainDiv{
    margin: 5%;
    size: 80%;
    min-height: 600px;
    min-width: 700px;
   
}
div.cmTitle{
    font-size: 25px;
    font-weight: bold;
}
div.cmSubTitle{
    text-decoration: underline
}